/* Add CSS Styling */
p {
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ID2 {
    font-size: xx-large;
    color: blue;
}

.ID4 {
    background-color: lightgreen;
    font-size: 24;
    font-weight: bold;
}